{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RoD</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block head %} {% endblock head %}
  </head>
  <body>

    <nav>
      <ul>
         <li><a href="{% url 'articles:theme_list' theme='Fractals' %}">Fractal Guides</a></li>
              <li><a href="{% url 'articles:theme_list' theme='Gold making' %}">Gold making</a></li>
              <li><a href="{% url 'articles:theme_list' theme='Dungeons' %}">Dungeons</a></li>
              <li><a href="{% url 'articles:theme_list' theme='Raids' %}">Raids</a></li>
              <li><a href="{% url 'articles:theme_list' theme='Builds' %}">Builds</a></li>
        {% if user.is_authenticated %}
        <li>
<form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>
        </li>
        <li><a href="{% url 'articles:create' %}" class="highlight">New Article</a></li>
        <li><a href="{% url 'articles:private_list' %}" >My Articles</a></li>
        {% else %}
          <li><a href="{% url 'accounts:login' %}">Login</a></li>
          <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
        {% endif %}


      </ul>
    </nav>
    <div class="wrapper">
      {% block content %}
      {% endblock %}
  </div>

  </body>

  <script
  src="http://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.18/marked.min.js">
    </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".content-markdown").each(function(){
        var content = $(this).text()
        console.log(content)
        var markedContent = marked(content)
        console.log(markedContent)
        $(this).html(markedContent)
      })

    })
  </script>
</html>
